#navbar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  color:black;
  font-weight: bold;
  padding: 25px;
}
  
#navbar h1 {
  font-family: Helvetica;
  font-size: 50px;
  font-style: oblique;
  color: green;
  padding: 0px;
}

#navbar a {
  font-family: Helvetica;
  font-size: 50px;
  font-style: oblique;
  color: green;
  padding: 0px;
}
  
.navpage {
  font-family: Helvetica;
  color: black;
  font-size: 20px;
  padding: 30px;
  margin: 20px;
  border-radius: 25px;
  text-decoration: none;
}
  
#page1:hover {
  color: red;
  opacity: 0.5;
}
  
  
#page2:hover {
  color: green;
  opacity: 0.5;
  
}
  
  
#page3:hover {
  color:orange;
  opacity: 0.5;
  
}
  
  
#page4:hover {
  color: steelblue;
  opacity: 0.5;
  
}

#page5:hover {
  color: turquoise;
  opacity: 0.5;
}

.navpage a {
  text-decoration: none;
}