#navbar {
  display: flex;
  justify-content: space-around;
  /*   background-color: white; */
  color:black;
  font-weight: bold;
  padding: 25px;
}
  
#navbar h1 {
  font-family: Helvetica;
  font-size: 50px;
  font-style: bolder;
  /* font-style: oblique; */
  /* color: green; */
  background: -webkit-linear-gradient(green,lightgreen);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px;
}

#navbar h1:hover {
  opacity: 0.5;
}

#navbar a {
  font-family: Helvetica;
  font-size: 50px;
	/* font-style: oblique; */  
  color: green;
  padding: 0px;
}
  
.navpage {
  font-family: Helvetica;
  color: black;
  font-size: 20px;
  padding: 30px;
  margin: 20px;
  border-radius: 25px;
  text-decoration: none;
  font-style: normal;
}
  
#page1:hover {
  color: red;
  opacity: 0.5;
}
  
  
#page2:hover {
  color: orange;
  opacity: 0.5;
  
}
  
  
#page3:hover {
  color:green;
  opacity: 0.5;
  
}
  
  
#page4:hover {
  color: steelblue;
  opacity: 0.5;
  
}

#page5:hover {
  color: rgb(29, 5, 43);
  opacity: 0.5;
}

.navpage a {
  text-decoration: none;
}

/* Energy Saving FAQ thingy -START- */

.faqtitle {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  margin: 50px 0 0;
  color: black;
}

.FAQbox {
  max-width: 60%;
  margin: 0 auto;
  padding: 70px 0 20px;
  width: 100%;
}

.question h3 {
  font-size: 25px;
  background-image: -webkit-linear-gradient(top right, green,lightgreen);
  color: #fff;
  padding: 15px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  position: relative;
}


.answerbox {
  background-color: #fff;
}

.theanswer {
  padding: 15px;
}

.answerbox {
  margin-top: 0;
  line-height: 1.5;
}

.question {
  border-bottom: 1px solid #fff;
}

p {
font-family: Verdana;
}

/* Energy Saving FAQ thingy -END- */
/* Image thingy for homepage */

.tips {
  /*background: -webkit-linear-gradient(top right, green,lightgreen);*/
  background: green;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  color: white;
  font-family: Helvetica;
  padding-bottom: 5px;
  transition: 0.15s background-color, 0.15s font-size;
}

.tips:hover{
    background-color: rgb(95, 226, 34);
    font-size: 150%;
}

.maininfo{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  margin: 50px 0 0;
  color: black;
}

.infotext {
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: black;
}